
<% @orids.each do |orid| %>

<tr>
  <td><%= check_box_tag "ids[]", orid.id %></td>
  <td>
    <%= link_to(orid.title, orid_path(orid)) %>
  </td>
  <td>
    <%= t(orid.status, :scope => "orid.status") %>
  </td>
  <td>
    <%= orid.user.email %>
  </td>
  <td>
    <%= orid.created_at.to_s(:my)  %>
  </td>
  <td>
    <% if current_user && current_user == orid.user %>
    <%= link_to("Edit", edit_orid_path(orid), class: "btn btn-sm btn-default") %>
    <%= link_to("Destroy", orid_path(orid), class: "btn btn-sm btn-default",
                  :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    <% end %>
  </td>
</tr>

<% end %>
