<div class="col-md-10 col-md-offset-1">

<div class="pull-right">
  <%= link_to("ORID", new_orid_path, :class => "btn btn-danger") %>
</div>

<table class="table tabel-bordered">
  <thead>
    <tr>

      <th>标题</th>
      <th>创建人</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>

    <% @orids.each do |orid| %>

    <tr>
      <td>
        <%= link_to(orid.title, orid_path(orid)) %>
      </td>
      <td>
        <%= orid.user.email %>
      </td>
      <td>
        <%= orid.created_at.to_s(:my)  %>
      </td>
      <td>
        <% if current_user && current_user == orid.user %>
        <%= link_to("Edit", edit_orid_path(orid), class: "btn btn-sm btn-default") %>
        <%= link_to("Destroy", orid_path(orid), class: "btn btn-sm btn-default",
                      :method => :delete, :data => { :confirm => "Are you sure?" }) %>
        <% end %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

</div>


</div>
