<div class="col-md-10 col-md-offset-1">
  <div class="orid-page">
    <div class="container">
      <div class="row">
        <div class="col-md-10">

          <h2 style="margin: 5% 0 0 0; text-align: center">
            <%= @orid.title %>

          </h2>
          <% if current_user && current_user == @orid.user %>
          <p class="pull-right">
            <%= t(@orid.status, :scope => "orid.status") %>
            <%= link_to("编辑", edit_orid_path(@orid), class: "fa fa-pencil-square-o") %></p>
            <% end %>

          <div class="row" style="text-align: center">
            <p class="orid-little">
              <i class="fa fa-user" aria-hidden="true"><%= @orid.user.display_name %></i> |
              <i class="fa fa-calendar" aria-hidden="true">发表于<%= @orid.created_at.to_s(:my) %></i> |
              <i class="fa fa-commenting" aria-hidden="true"><%= @orid.posts.count %></i> |
              <span class="views">
                <i class="fa fa-eye" aria-hidden="true">
                  <%= @orid.views %></i>
              </span>
            </p>
            <h4 class="keyword">
              <hr>
              <%= @orid.keyword %>
              <hr>
            </h4>
          </div>


          <div class="orid-content">
            <div class="row">
              <h4>Objective</h4>
              <hr>
              <p><%= to_markdown(@orid.objective) %></p>
              <br>
              <h4>Reflective</h4>
              <hr>
              <p><%= to_markdown(@orid.reflective) %></p>
              <br>
              <h4>Interpretive</h4>
              <hr>
              <p><%= to_markdown(@orid.interpretive) %></p>
              <br>
              <h4>Decisional</h4>
              <hr>
              <p><%= to_markdown(@orid.decisional) %></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="group">
    <%= link_to("我要发言", new_orid_post_path(@orid), class: "btn btn-danger pull-left") %>
  </div>
  <div class="post">
  <table class="table">
    <thead>
      <tr>
        <th>文章内容</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= simple_format(post.content) %></td>
        <td><%= post.user.display_name %></td>
        <td><%= post.created_at %></td>
        <td>
          <%= link_to('Edit', edit_orid_post_path(post.orid, post), class: "btn btn-default btn-xs") %></td>
        <td>
          <%= link_to('Delete', orid_post_path(post.orid, post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
