<div class="jumbotron">
<h2 class="text-center">战友们共同成长<br><small>和战友们一起不孤独，共同成长！~</small></h2>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="page">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="orid-content">


            <h1 style="margin: 5%;text-align: center">
              <%= @orid.title %>
              <% if current_user && current_user == @orid.user %>
              <small>
                （<%= t(@orid.status, :scope => "orid.status") %>）
                <%= link_to("编辑", edit_orid_path(@orid), class: "btn btn-primary pull-right") %>
              </small>
              <% end %>
            </h1>
            <p>发表于 <%= @orid.created_at.to_s(:my) %></p>
            <p><%= @orid.keyword %></p>

            <h3>Objective</h3>
            <hr>
            <p><%= simple_format(@orid.objective) %></p>
            <h3>Reflective</h3>
            <hr>
            <p><%= simple_format(@orid.reflective) %></p>
            <h3>Interpretive</h3>
            <hr>
            <p><%= simple_format(@orid.interpretive) %></p>
            <h3>Decisional</h3>
            <hr>
            <p><%= simple_format(@orid.decisional) %></p>
          </div>
        </div>
        <div class="group">
          <%= link_to("我要发言", new_orid_post_path(@orid), class: "btn btn-danger pull-left") %>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>文章内容</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= simple_format(post.content) %></td>
        <td><%= post.user.email %></td>
        <td><%= post.created_at %></td>
        <td> <%= link_to('Edit', edit_orid_post_path(post.orid, post), class: "btn btn-default btn-xs") %></td>
<td> <%= link_to('Delete', orid_post_path(post.orid, post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
