<h1> <%= @orid.title %></h1>

<p><%= @orid.date %></p>
<p>Objective<%= simple_format(@orid.objective) %></p>
<p>Reflective<%= simple_format(@orid.reflective) %></p>
<p>Interpretive<%= simple_format(@orid.interpretive) %></p>
<p>Decisional<%= simple_format(@orid.decisional) %></p>
