<div class="col-md-10 col-md-offset-1">
  <div class="group">
    <%= link_to("我要发言", new_orid_post_path(@orid), class: "btn btn-danger pull-right") %>
  </div>
  <div class="page">
    <div class="container">
              <div class="row">
                        <div class="col-md-10">
      <div class="orid-content">


        <h1 style="margin: 5%;text-align: center">
          <%= @orid.title %> <small> （<%= t(@orid.status, :scope => "orid.status") %>） </small>
        </h1>

        <div class="group">
          <% if current_user && current_user == @orid.user %>
          <%= link_to("Edit", edit_orid_path(@orid), class: "btn btn-primary pull-right") %>
          <% end %>
        </div>


        <h3>Objective</h3>
        <hr>
        <p><%= simple_format(@orid.objective) %></p>
        <h3>Reflective</h3>
        <hr>
        <p><%= simple_format(@orid.reflective) %></p>
        <h3>Interpretive</h3>
        <hr>
        <p><%= simple_format(@orid.interpretive) %></p>
        <h3>Decisional</h3>
        <hr>
        <p><%= simple_format(@orid.decisional) %></p>
      </div>
    </div>
    <div class="group">
      <%= link_to("我要发言", new_orid_post_path(@orid), class: "btn btn-danger pull-left") %>
    </div>
  </div>
</div>
</div>
</div>
