<h1> <%= @orid.title %></h1>

<p><%= @orid.date %></p>
<p><%= simple_format(@orid.objective) %></p>
<p><%= simple_format(@orid.reflective) %></p>
<p><%= simple_format(@orid.interpretive) %></p>
<p><%= simple_format(@orid.decisional) %></p>
