<div class="col-md-10 col-md-offset-1">
<h2>编辑个人资料</h2>
<%= form_for @user do |f| %>

<%= f.fields_for :profile do |ff| %>

  <div class="form-group">
    <%= ff.label :"昵称" %>
    <%= ff.text_field :nickname, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= ff.label :"微信" %>
    <%= ff.text_area :wechat, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= ff.label :"生日" %>
    <%= ff.date_field :birthday, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= ff.label :"坐标" %>
    <%= ff.text_field :location, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= ff.label :"座右铭" %>
    <%= ff.text_field :motto, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= ff.label :"个人简介" %>
    <%= ff.text_field :bio, :class => "form-control" %>
  </div>

  <% end %>

  <div class="form-group">
    <%= f.submit "提交", :class => "btn btn-primary" %>
  </div>

<% end %>
</div>
