<div id="feedback-<%= feedback.id %>" class="panel panel-default">
  <div class="panel-heading">
    <%= feedback.user.display_name %>

    <span class="pull-right"><%= feedback.created_at.to_s %>
      <% if current_user && feedback.user == current_user %>
      <%= link_to "", feedback_path(feedback), :method => :delete, :remote => true, :class => "fa fa-trash" %>
      <% end %></span>

  </div>
  <div class="panel-body">

    <%= simple_format(feedback.content) %>

    <div class="text-right">

      <% if feedback.liked_users.any? %>
      <%= feedback.liked_users.map{ |u| u.display_name }.join(",") %>点了赞
      <% end %>
      <span id="feedback-thumsup-<%= feedback.id %>" class="badge"><%= feedback.likes.count %>
      </span>
      <% if current_user # 有登入才可以按讚 %>
      <% if feedback.find_like(current_user) %>
      <%= link_to "", unlike_feedback_path(feedback), :method => :feedback, :class => "fa fa-heart" %>
    <% else %>
      <%= link_to "", like_feedback_path(feedback), :method => :feedback, :class => "fa fa-heart-o" %>
      <% end %>
      <% end %>

    </div>
  </div>
</div>
