<div id="feedback-<%= feedback.id %>" class="panel panel-default">
  <div class="panel-heading">
    <%= feedback.user.display_name %>
    <span class="pull-right"><%= feedback.created_at.to_s %></span>
  </div>
  <div class="panel-body">
    <span id="feedback-thumsup-<%= feedback.id %>" class="label label-success"><%= feedback.likes.count %>👍</span>
    <%= feedback.content %>

    <div class="text-right">

      <% if feedback.liked_users.any? %>
      <%= feedback.liked_users.map{ |u| u.display_name }.join(",") %>点了赞
      <% end %>

      <% if current_user # 有登入才可以按讚 %>
      <% if feedback.find_like(current_user) %>
      <%= link_to "取消赞", unlike_feedback_path(feedback), :method => :feedback, :class => "btn btn-primary" %>
    <% else %>
      <%= link_to "点赞", like_feedback_path(feedback), :method => :feedback, :class => "btn btn-primary" %>
      <% end %>
      <% end %>
      <% if current_user && feedback.user == current_user %>
        <%= link_to "Delete", feedback_path(feedback), :method => :delete, :remote => true, :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
