<div id="feedback-<%= feedback.id %>" class="panel panel-default">
  <div class="panel-heading">
    <%= feedback.user.display_name %>
    <span class="pull-right"><%= feedback.created_at.to_s %></span>
  </div>
  <div class="panel-body">
    <%= feedback.content %>


   <% if current_user && feedback.user == current_user %>
     <p class="text-right">
       <%= link_to "Delete", feedback_path(feedback), :method => :delete, :remote => true, :class => "btn btn-danger" %>
     </p>
   <% end %>
  </div>
</div>
