<div class="col-md-10 col-md-offset-1">
 <%= form_for Feedback.new do |f| %>
   <div class="form-group">
     <%= f.text_area :content, :class => "form-control" %>
   </div>
   <div class="form-group">
     <%= f.submit :class => "btn btn-primary" %>
   </div>
 <% end %>

  <% @feedbacks.each do |feedback| %>

  <div id="feedback-<%= feedback.id %>" class="panel panel-default">
    <div class="panel-heading">
      <%= feedback.user.display_name %>
      <span class="pull-right"><%= feedback.created_at.to_s %></span>
    </div>
    <div class="panel-body">
      <%= feedback.content %>


     <% if current_user && feedback.user == current_user %>
       <p class="text-right">
         <%= link_to "Delete", feedback_path(feedback), :method => :delete, :remote => true, :class => "btn btn-danger" %>
       </p>
     <% end %>
    </div>
  </div>

  <% end %>
</div>
