<%= simple_form_for [:account, @orid ] do |f| %>
<div class="form-group">
<%= f.input :title, input_html: { class: "form-control"}, :placeholder => "这一天的关键字"  %>
</div>

<div class="form-group">
  <%= f.input :keyword, input_html: { class: "form-control"} %>
</div>

<div class="form-group" >
<%= f.input :objective, as: :pagedown, input_html: { preview: true, rows: 10 }, :placeholder =>
"关于今天的课程, 你记得什么?
完成了什么?
" %>
</div>

<div class="form-group">
<%= f.input :reflective, as: :pagedown, input_html: { preview: true, rows: 10 }, :placeholder =>
"你要如何形容今天的情绪
今天的高峰是什么?
今天的低点是什么?
" %>
</div>
<div class="form-group">
<%= f.input :interpretive, as: :pagedown, input_html: { preview: true, rows: 10 }, :placeholder =>
"我们今天学到了什么?
今天一个重要的领悟是什么?
" %>
</div>
<div class="form-group">
<%= f.input :decisional, as: :pagedown, input_html: { preview: true, rows: 10 }, :placeholder =>
"我们会如何用一句话形容今天的工作
有哪些工作需要明天继续努力?
" %>
</div>
<div class="btn-group data-toggle="buttons"">
  <% Orid::STATUS.each do |status| %>
    <label class="btn btn-default">
      <%= f.radio_button :status, status %>
      <%= t(status, :scope => "orid.status") %>
    </label>
  <% end %>
</div>
<%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "Submiting..."} %>

<% end %>
